/* Selector Universal */
*{
    box-sizing: border-box;
   
   }
   
   /* Selector de etiqueta*/
   body{
       background-color: #f1ecea;
       color: white;
       padding: 0;
       margin: 0;
   }
   
   /* Selector de clase*/
   .texto{
       text-align: justify;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 20px;
       padding: 5px 25px;
       color: #ffffff;
   }
   
   .img{
       width: 100px;
       border-radius: 1px;
   }
   .encabezado-articulo {
    padding: 10px,10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
   }

.encabezado-aside {

    padding: 10px 10px;
    text-align: center;
    color: white;
    margin: 1em 2em;
    
    
}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25;
}
.lista-aside li{
display: flex;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
padding: 0 2px;
list-style: square;
color: rgb(255, 255, 255);
}

/* Selecctor ID */

#encabezado {
    height: 15%;
    background-color: #3a251c;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    padding: 0 50px;

}

nav {
    display: flex;
    flex-direction: row;
    background-color: #b46424;
}

section {
    flex: 70%;
    background-color: #362f2f;
    padding: 20px;
}

aside{

    flex: 100px;
    background-color: #b58c7c;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #3a251c;
    padding: 20px;
    }

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/*selector de etiqueta*/
ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

nav a:hover {
    color: rgb(255, 1, 52);
    text-decoration: none;
    list-style: none;
}
nav a{
color: white;
padding: 14px 20px;
text-decoration: none;

}

/* selector de clase*/

.row{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:700px) {
    nav,.row{
        flex-direction: column;
        
    }
}